body {
	background-image: url(new-york-city-wallpaper.jpg);
	background-repeat: no-repeat;

}
h2.headline {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h2.subheadline {
	font-family: 'Amatic SC', cursive; 
	text-align: center;
}
ul.onlythis {
	text-align: center;
}
div.relative {
	position: relative;
	left: 1000px;
}
#middle {
	margin: 0cm 0cm 0cm 12cm
	
	}
#email {
 margin: 0cm 0cm 0cm 0cm;
}
p.middle{
	text-align: center;
}